@import "inc/chemical-limits/bootstrap/mixins";
@import "inc/chemical-limits/bootstrap/variables";
@import "inc/chemical-limits/bootstrap-select";

.btn-blank {
    border: 1px solid;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

